<%= render "layouts/usernavbar" %>
<header id="home">
<div class="ui text container">
  <div class="title">
  <h1 class="header">Welcome to Online TESDA Application!</h1>
</div>
<br>
<%= form_tag(student_home_path, :method => "get", id: "search-form", class: "ui form") do %>
  <div class="field">
    <div class="ui action left icon input">
        <i class="search icon"></i>
        <%= text_field_tag :search, "", placeholder: "Search for ..."%>
         <%=  button_tag("Search", class: "ui button blue", type: "submit") %>
       
      </div>
  </div>
  <% end %>
  <div class="inline fields">
      <div class="inline fields">
    <label for="fruit">Search by:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="search" checked="" tabindex="0" class="hidden">
        <label>School</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="search" tabindex="0" class="hidden">
        <label>Course</label>
      </div>
    </div>
  </div>
</div>

  <div class="ui raised segments">
    <% @all_schools.each do |school| %>
    <div class="ui padded segment">
      <div class="ui header"> <a href=<%=student_school_view_path(school.school_id)%>> <%= school.sname %></a></div>
      <p><%= school.address %></p>
    </div>
    <%end%>
  
  </div>

</div>
</header>

<script>
$(document).ready(function(){
$('.ui.radio.checkbox')
  .checkbox()
;
});
</script>