<%= render "layouts/usernavbar" %>
<header id="settings">
<div class="ui text container">
  <div class="title">
  <h1 class="header">Edit Settings</h1>
</div>
  <div class="ui divider"></div>
<%= form_tag(sessions_path, method: "post", class: "ui form") do %>
    <div class="field">
    <%= label_tag(:"Username") %>
    <%= text_field_tag(:username, "", placeholder: "", value:@user_student.username ) %>
  </div>
  <div class="field">
     <%= label_tag(:"Email") %>
    <%= text_field_tag(:e_mail, "", placeholder: "", value:@user_student.e_mail ) %>
  </div>
    <div class="field">
    <%= label_tag(:"Name") %>
    <%= text_field_tag(:name, "", placeholder: "", value:@user_student.name ) %>
  </div>
  <div class="field">
    <%= label_tag(:"Password") %>
    <%= text_field_tag(:password, "", placeholder: "Type your new password here") %>
  </div>
<%= button_tag("Save", class: "ui button green", type: "submit") %>
  
  <% end %>
</form>
</div>
</div>