<!--My Applications (User)-->
<%= render "layouts/usernavbar" %>
<header id="profile">

<div class="ui grid container">
    <div class="four wide column">
      <div class="ui card">
      <div class="image">
        <img src=<%=asset_path"avatar.png"%>>
      </div>
      <div class="content">
        <a class="header"><%= @user_student.name%></a>
        <div class="meta">
          <span class="username">@<%= @user_student.username%></span>
        </div>
        <div class="description">
          <%= @user_student.e_mail%><br>
          <%= @stud_deets.birthdate%><br>
         <%= @stud_deets.address%><br>
         <%= @stud_deets.civil_status%><br>
        </div>
      </div>
    </div>
    <button class="fluid ui blue button" id="new-app"><i class="plus icon"></i>New Application</button>
</div>
<div class="twelve wide column">
  <% flash.each do |key, value| %>
            <div class="ui positive message alert alert-<%= key %>"><%= value %></div>
            <% flash.clear %>
          <% end %>
  <h1 class="text">My Applications</h1>
  <div class="ui divider"></div>
    <table class="ui celled table">
  <thead>
    <tr>
      <th>School</th>
      <th>Course</th>
      <th>Received</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
    <tr>
      <td><%= app.sname%></td>
      <td><%= app.course_name%></td>
      <td class="warning"><i class="attention icon"></i><%= app.is_received%></td>
      <td><button class="ui small green button" name="edit-btn">Edit</button> <button class="ui small red button">Cancel</button></td>
    </tr>
    <%end%>
  </tbody>
</table>
  </div>
</div>

</header>
<div class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    New Application
  </div>
  <div class="content">
    <%= form_tag(student_profile_addcourse_path, method: "post", class: "ui form", id: "modal-add-form") do %>
      <div class="two fields">
        <div class="field">
            <label>School</label>
            <select class="ui search dropdown">
              <option value="">Select School</option>
               <% @all_schools.each do |school|%>
              <option><%=school.sname%></option>
              <%end%>
            </select>
        </div>
        <div class="field">
          <label>Course</label>
          <select class="ui search dropdown">
            <option value="">Select Course</option>
            <% @all_courses.each do |course|%>
              <option><%=course.course_name%></option>
              <%end%>
          </select>
        </div>
      </div>
  </div>
  <div class="actions">
    <input class="ui positive right labeled icon button" type="submit" form="modal-add-form">
      Add<i class="plus icon"></i>
    </div>
    <div class="ui red button">
     Cancel
    </div>
  </div>
  <% end %>
</div>
<div class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">
    Edit Course
  </div>
  <div class="content">
    <form class="ui form">
        <div class="field">
          <label>Course</label>
          <select class="ui search dropdown">
            <option value="">Select Course</option>
            <% @all_courses.each do |course|%>
              <option><%=course.course_name%></option>
              <%end%>
          </select>
        </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui positive button">
      Save
    </div>
    <div class="ui red button">
     Cancel
    </div>
  </div>
</div>
<script>
   $('#new-app').click(function(){
      $('.small.modal')
      .modal('show'); 
        $('select.dropdown')
  .dropdown()
;
   });
  $('button[name=edit-btn]').click(function(){
      $('.tiny.modal')
      .modal('show'); 
        $('select.dropdown')
  .dropdown()
;
   });

</script>
