<%= render "layouts/usernavbar" %>
<header id="settings">
<div class="ui text container">
  <div class="title">
  <h1 class="header">Edit School Details</h1>
</div>
  <div class="ui divider"></div>
<%= form_tag(sessions_path, method: "post", class: "ui form") do %>
    <div class="field">
    <%= label_tag(:"School Name") %>
    <%= text_field_tag(:sname, "", placeholder: "", value:@school.sname ) %>
  </div>
  <div class="field">
        <%= label_tag(:"Email") %>
    <%= text_field_tag(:email, "", placeholder: "", value:@school.email ) %>
  </div>
    <div class="field">
    <%= label_tag(:"Address") %>
    <%= text_field_tag(:address, "", placeholder: "", value:@school.address ) %>
  </div>
  <div class="field">
    <%= label_tag(:"Contact Number") %>
    <%= text_field_tag(:phone, "", placeholder: "", value:@school.phone ) %>
  </div>
   <%= button_tag("Save", class: "ui button green", type: "submit") %>
 <% end %>
</div>
</div>