<!--My Applications (User)-->
<%= render "layouts/adminnavbar" %>
<header id="profile">
<div class="ui grid container">
  <div class="four wide column">
      <div class="ui card">
      <div class="image">
        <img src=<%=asset_path"avatar.png"%>>
      </div>
      <div class="content">
        <a class="header"><%= @applicant.name %></a>
        <div class="meta">
          <span class="username">@<%= @applicant.username %></span>
        </div>
        <div class="description">
          <%= @applicant.e_mail %><br>
          <%= @app_deets.birthdate %><br>
          <%= @app_deets.address %><br>
          <%= @app_deets.civil_status %>
        </div>
      </div>
    </div>
</div>

<div class="twelve wide column">
<h1 class="text">Course Applications</h1>
<div class="ui divider"></div>
  <table class="ui celled table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Current Status</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
    <tr>
      <td><%= app.course_name%></td>
      <td class="warning"><i class="attention icon"></i><%= app.is_received%></td>
      <td><button class="ui small green button" name="edit-btn">Edit Status</button> 
      <button class="ui small red button">Delete</button></td>
    </tr>
    <%end%>
  </tbody>
  </table>
</div>

<div class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">
    Edit Status
  </div>
 <div class="content">
    <form class="ui form">
        <div class="field">
          <label>Status</label>
          <select class="ui search dropdown">
            <option value="">Select Status</option>
            <option value="1">Accepted</option>
            <option value="2">Rejected</option>
          </select>
        </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui positive button">
      Save
    </div>
    <div class="ui red button">
     Cancel
    </div>
  </div>
</div>
<script>
   $('#new-app').click(function(){
      $('.small.modal')
      .modal('show'); 
        $('select.dropdown')
  .dropdown()
;
   });
  $('button[name=edit-btn]').click(function(){
      $('.tiny.modal')
      .modal('show'); 
        $('select.dropdown')
  .dropdown()
;
   });

</script>
