<!--My Applications (User)-->
<%= render "layouts/adminnavbar" %>
<header id="profile">
<div class="ui grid container">
  <div class="four wide column">
      <div class="ui card">
      <div class="image">
        <img src=<%=asset_path"avatar.png"%>>
      </div>
      <div class="content">
        <a class="header"><%= @applicant.name %></a>
        <div class="meta">
          <span class="username">@<%= @applicant.username %></span>
        </div>
        <div class="description">
          <%= @applicant.e_mail %><br>
          <%= @app_deets.birthdate %><br>
          <%= @app_deets.address %><br>
          <%= @app_deets.civil_status %>
        </div>
      </div>
    </div>
</div>

<div class="twelve wide column">
  <% flash.each do |key, value| %>
            <% if key.eql? "error" %>
              <div class="ui negative message alert alert-<%= key %>"><%= value %></div>
            <% elsif key.eql? "notice" %>
              <div class="ui positive message alert alert-<%= key %>"><%= value %></div>
            <% flash.clear %>
            <% end %>
          <% end %>
<h1 class="text">Course Applications</h1>
<div class="ui divider"></div>
  <table class="ui celled table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Received</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
    <tr>
      <td><%= app.course_name%></td>
      <td class="warning"><i class="attention icon"></i><%= app.is_received%></td>
      <td><button type="button" class="ui small green button" name="edit_btn">
        <input type="hidden" name="ref_no" value="<%= app.ref_no %>" form="modal-edit-form"></input>
        Edit Status
      </button> 
      <button class="ui small red button">Delete</button></td>
    </tr>
    <%end%>
  </tbody>
  </table>
</div>

<div class="ui mini modal">
  <i class="close icon"></i>
  <div class="header">
    Edit Status
  </div>
 <div class="content">
    <%= form_tag(admin_app_profile_editstatus_path, method: "post", class: "ui form", id: "modal-edit-form") do %>
        <div class="field">
          <label>Received</label>
          <select class="ui search dropdown" name="is_received">
            <option value="">Select Received Status</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
     <% end %>
  </div>
  <div class="actions">
    <button class="ui positive button" form="modal-edit-form" action="submit" method="post">
      Save
    </div>
  </div>
</div>
<script>
   $('#new-app').click(function(){
      $('.small.modal')
      .modal('show'); 
        $('select.dropdown')
  .dropdown()
;
   });
  $('button[name=edit_btn]').click(function(){
      $('.mini.modal')
      .modal('show'); 
        $('select.dropdown')
  .dropdown()
;
   });

</script>
