<!--My Applications (User)-->
<%= render "layouts/adminnavbar" %>
<header id="profile">



<div class="ui grid container">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img src=<%=asset_path"school.jpg"%>>
        </div>
        <div class="content">
          <a class="header"><%= @school.sname %></a>
          <div class="description">
           <%= @school.email %>
           <br>
            <%= @school.address %>
            <br>
            <%= @school.phone %>
          </div>
        </div>
      </div>
    </div>


<div class="twelve wide column">
   <h1>Welcome <%= @school_admin.school_pos %>!</h1>
   <div class="ui divider"></div>
  <div class="ui form">
    <div class="field">
      <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search for...">
      <i class="search icon"></i>
    </div>
    <div class="inline fields">
        <div class="inline fields">
      <label for="fruit">Search by:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="search" checked="" tabindex="0" class="hidden">
          <label>Applicants</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="search" tabindex="0" class="hidden">
          <label>Course</label>
        </div>
      </div>
    </div>
  </div>
  
    <div class="ui raised segments">
      <% @applicants.each do |app|%>
      <div class="ui padded segment">
        <div class="ui header"> <a href=<%=admin_app_profile_path(app.userid)%>><%= app.name %></a></div>
      </div>
      <%end%>
    </div>
  
  </div>
</div>
  </header>

</div>

<script>
$(document).ready(function(){
$('.ui.radio.checkbox')
  .checkbox()
;
});

</script>